<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cube</title>
        <link rel="stylesheet" href="/css/style_rotate.css">
    </head>
    <body>
        <div id="wrap">
            <section id="sectionQube">
                <div class="container">
                    <div class="title">
                        <h2>카테고리</h2>
                    </div>
                    <div class="content">
                        <!--name을 통일하면 선택이 중복되지 않음.-->
                        <input type="radio" name="qube_radio" id="front_face"><label for="">도서</label>
                        <input type="radio" name="qube_radio" id="back_face"><label for="">행사용품</label>
                        <input type="radio" name="qube_radio" id="left_face"><label for="">캠핑</label>
                        <input type="radio" name="qube_radio" id="right_face"><label for="">생활 공구</label>
                        <input type="radio" name="qube_radio" id="top_face"><label for="">건강 환경</label>
                        <input type="radio" name="qube_radio" id="bottom_face"><label for="">교구</label>

                        <div class="qube-box">
                            <span class="face front-face">도서</span>    
                            <span class="face back-face">행사용품</span>    
                            <span class="face left-face">캠핑</span>    
                            <span class="face right-face">생활 공구</span>    
                            <span class="face top-face">건강 환경</span>    
                            <span class="face bottom-face">교구</span>    
                        </div>
                    </div>
                </div>
            </section>
        </div>
       <div id="wrap">
            <section id="sectionQube">
                <div class="container">
                    <div class="title">
                        <h2>지역</h2>
                    </div>
                    <div class="content">
                        <!--name을 통일하면 선택이 중복되지 않음.-->
                        <input type="radio" name="qube_radio" id="front_face"><label for="">서울특별시</label>
                        <input type="radio" name="qube_radio" id="back_face"><label for="">부산광역시</label>
                        <input type="radio" name="qube_radio" id="left_face"><label for="">대구광역시</label>
                        <input type="radio" name="qube_radio" id="right_face"><label for="">인천광역시</label>
                        <input type="radio" name="qube_radio" id="top_face"><label for="">대전광역시</label>
                        <input type="radio" name="qube_radio" id="bottom_face"><label for="">울산광역시</label>

                        <div class="qube-box">
                            <span class="face front-face">서울특별시</span>    
                            <span class="face back-face">부산광역시</span>    
                            <span class="face left-face">대구광역시</span>    
                            <span class="face right-face">인천광역시</span>    
                            <span class="face top-face">대전광역시</span>    
                            <span class="face bottom-face">울산광역시</span>    
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <a href="/board/list.do">첫 화면으로 돌아가기</a>
        <br><br>
    </body>
</html>